html, body {
    margin: 0 !important;
    padding: 0 !important;
}
.dNBox {
    /* border: solid #27276D 2px; */
    /* outline: solid darkgray 2px; */
    /* border-collapse: separate; */
    /* border-radius: 10px; */
    overflow: hidden;
    /* background-color: grey; */
    opacity: 100%;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    color: white;

}
.dNTitle {
    color: black;
    background-color: lightgrey;
    border-bottom: solid #27276D 2px;
    opacity: 90%;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.tabs button {
    border: solid darkgrey 2px;
    border-radius: 5px;
    opacity: 100%;
    padding: 3px;
    font-weight: 600;
    margin: 3px;
}
.tabs button:hover {
    border: solid white 2px;
    transform: scale(1);

}
.tabs button:disabled {
    background-color: #27276D;
    font-weight: 700;
}
.content {
    margin: 0px;
}    